#root {
  --clr-dark: rgba(70, 30, 0, 0.9);
  --clr-light: rgba(255, 200, 150, 0.9);
  /* border: solid; */
  /* margin-left: 1em; */
  margin-top: 0%;
}
body {
  min-height: 0%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFuB6f_D5THahYPTZh1ZGyoBMiCTazS8Md-l_mMHKRqqHQgjg8n9xKEcg7kl0_DUNrMGw&usqp=CAU);
  height: 220vh;
}
.nav {
  border: solid;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 1em;
  width: 95vw;
  height: 10vh;
  border-radius: 10px;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}
.nav img {
  height: 100%;
}
.logo {
  height: 100%;
  margin-left: 3vw;
  display: flex;
  align-items: center;
}
.cart {
  height: 100%;
  margin-right: 2vw;
  display: flex;
  align-items: center;
}
.nav a {
  height: 100%;
  align-items: center;
}
.cart img {
  cursor: pointer;
}
.cart img:hover {
  height: 10.5vh;
}
.form {
  border: solid;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  margin-right: 40vw;
  margin-left: 40vw;
  padding: 1em;
}
form input {
  border: solid var(--clr-dark);
  width: 90%;
  height: 100%;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}
.submit {
  width: 100%;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-size: 22px;
  margin-top: 1em;
  border-radius: 8px;
  cursor: pointer;
}
button {
  border: solid;
  padding: 0px;
  margin: 0%;
  width: 95%;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-size: 22px;
  margin-top: 1em;
  border-radius: 5px;
  cursor: pointer;
}
.password {
  display: flex;
  justify-content: baseline;
  height: 100%;
}
.checkbox {
  width: 10%;
  height: 100%;
}

.advisement {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.image-container {
  display: flex;
}

.ADImages {
  width: 50%;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}

.displaySlide {
  opacity: 1;
}

.ADImages:not(.displaySlide) {
  opacity: 0;
}
h2 h3 h1 {
  margin-left: 1vh;
  color: var(--clr-dark);
  margin-top: 0%;
}
a {
  color: var(--clr-dark);
}
.hotDrink,
.coldDrink,
.sweet {
  display: flex;
  /* width: 20vw; */
  flex-wrap: wrap;
}
.item {
  border: solid;
  width: 200px;
  height: 320px;
  margin: 1vh;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-align: center;
}
.item img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.item button {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0%;
}
.dec {
  height: 30%;
}

.user {
  display: flex;
  border: solid;
  justify-content: center;
  align-items: center;
  margin-left: 20vw;
  margin-right: 20vw;
  height: 300px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
.userInfo {
  width: 50%;
  height: 99%;
  border: solid;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-align: center;
  justify-content: center;
  border-bottom-left-radius: 15px;


}
.userButton {
  width: 50%;
  height: 99%;
  border: solid;
  background-color: var(--clr-dark);
  color: var(--clr-light);

  
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-right-radius: 15px;

}
