#root{
  border: solid;
  margin-left: 1em;
}
.nav{
  border: solid;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 1em;
  width: 95vw;
}
.nav img{
  height: 10vh;
}
.logo{
  margin-left: 3vw;
  display: flex;
  align-items: center;
}
.cart{
  margin-right: 2vw;
  display: flex;
  align-items: center;
}
.cart img{
  cursor: pointer;
  margin-right: 1em;
}
.cart img:hover{
  height: 10.5vh;
}